body, header, main, h1, ul, li, p, textarea, input, figure, img, figcaption {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    display: flex;
    flex-direction: column;
}

header#outrosJogos {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}
header ul {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
header ul li {

}
header ul li a {
    
}


main#jogo {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
main h1 {
    margin-bottom: 1rem;
    margin-top: 2rem;;
}

main section#pergunta {
    display: flex;
    flex-direction: column;
}
main section#pergunta p {

}
main section#pergunta input#perguntar {
    padding: 0.5rem 1rem;
}
main section#pergunta button {
    border: 2px solid #FFF;
    border-radius: 2px;
    padding: 0.5rem 1rem;
    transition: 0.4s ease-out;
}
main section#pergunta button:hover {
    border: 2px solid black;
    cursor: pointer;
    transition: 0.4s ease-in;
}

main section#magicItself {
    display: flex;
    flex-direction: column;
}

main section#magicItself figure#empty {
    display: flex;
    flex-direction: column;
    margin: 6rem 0;
}
main section#magicItself figure#empty figcaption {
    display: none;
}

main section#magicItself figure#yes  {
    display: none;
    margin: 6rem 0;
}
main section#magicItself figure#yes figcaption {
    display: none;
}

main section#magicItself figure#no {
    display: none;
    margin: 6rem 0;
}
main section#magicItself figure#no figcaption {
    display: none;
}


footer {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 1rem;
}
footer input {
    border: 2px solid #FFF;
    border-radius: 2px;
    padding: 0.5rem 2rem;
    text-align: center;
    transition: 0.4s ease-out;
    width: fit-content;
}
footer input:hover {
    border: 2px solid black;
    cursor: pointer;
    transition: 0.4s ease-in;
}

